<div class="row" style="margin-top:40px; background-color:#eff0f2;
-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);">
  
    <h1 class="display-4">Hello, {{username}}!</h1><br>
  <div class="col-sm-12">
       <table>
        <thead>
          <tr>
            <th class="col-sm-6">USER NAME</th>
            <th class="col-sm-6"> EMAIL ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of datahoi">
            <td class="col-sm-6">{{i.username}}</td>
            <td class="col-sm-6"> {{i.email}}</td>
          </tr>
        </tbody>
     </table>

      <div class="jumbotron">
          <hr class="my-4">
     <p class="lead">You have successfully logged in to our system.</p>
  
          <p class="lead" style="color:white;">
            <a class="btn btn-primary btn-lg" role="button" (click)="logout()">Log Out</a>
          </p>
        </div>
  </div>
</div>
